<%= form_with(model: @todo, local: true) do |todo| %>


  <div class="form-group">
   <%= todo.label :description %>
   <%= todo.text_field :description, class: 'form-control' %> 
  </div>
    <%= todo.submit 'Send', class: 'btn btn-primary' %>
 
 
 <% end %>