<h1>SOY EL INDEX</h1>
<br>
<%= link_to 'Creat New ToDo', todos_new_path %>
<br>

<ul class="list-group">

    <% @todos.each do |todo| %>

     <li class="list-group-item"> <%= todo.description %></li>
  
    <% end %>
  
</ul>
